In [1]:
import pandas as pd
import numpy as np

import warnings

warnings.filterwarnings('ignore')

In [2]:
df_org = pd.read_csv("./data/scout_missings_filled_2.csv")
df = df_org.copy()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15915 entries, 0 to 15914
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               15915 non-null  object
 1   body_type                15915 non-null  object
 2   price                    15915 non-null  int64
 3   vat                      15915 non-null  object
 4   km                       15915 non-null  float64
 5   prev_owner               15915 non-null  float64
 6   hp                       15915 non-null  float64
 7   inspection_new           15915 non-null  object
 8   warranty                 15915 non-null  float64
 9   body_color               15915 non-null  object
 10  paint_type               15915 non-null  object
 11  nr_of_doors              15915 non-null  float64
 12  nr_of_seats              15915 non-null  float64
 13  gearing_type             15915 non-null  object
 14  displacement             15915 non-null  float64
 15  cylinders                15915 non-null  float64
 16  weight                   15880 non-null  float64
 17  drive_chain              15915 non-null  object
 18  co2_emission             15915 non-null  float64
 19  emission_class           15915 non-null  object
 20  comfort_convenience      14995 non-null  object
 21  entertainment_media      14541 non-null  object
 22  extras                   12953 non-null  object
 23  safety_security          14933 non-null  object
 24  gears                    15915 non-null  float64
 25  electricity_consumption  15915 non-null  int64
 26  age                      15915 non-null  float64
 27  new_used                 15915 non-null  object
 28  fuel_type                15913 non-null  object
 29  upholstery_material      11414 non-null  object
 30  consumption_comb         15915 non-null  float64
 31  consumption_city         13480 non-null  float64
 32  consumption_country      13540 non-null  float64
 33  Weight                   15915 non-null  float64
dtypes: float64(16), int64(2), object(16)
memory usage: 4.1+ MB

In [4]:
df.warranty.value_counts(dropna=False)

warranty
0.0     11062
12.0     2594
24.0     1118
60.0      401
36.0      279
48.0      149
6.0       125
72.0       59
3.0        33
23.0       11
18.0       10
20.0        7
25.0        6
2.0         5
50.0        4
26.0        4
16.0        4
4.0         3
1.0         3
19.0        3
34.0        3
13.0        3
28.0        2
22.0        2
14.0        2
11.0        2
46.0        2
21.0        2
9.0         2
17.0        2
45.0        2
33.0        1
40.0        1
65.0        1
10.0        1
15.0        1
7.0         1
8.0         1
56.0        1
49.0        1
47.0        1
30.0        1
Name: count, dtype: int64