## World Military Segmentation

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('./data/world_military_power.xlsx')
df = data.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 60 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Military Strength                        138 non-null    object
 1   Military Strength Power Index            138 non-null    float64
 2   Aircraft Strength                        138 non-null    object
 3   Aircraft Strength value                  138 non-null    int64
 4   Fighter/Interceptor Strength             138 non-null    object
 5   Fighter/Interceptor Strength value       138 non-null    int64
 6   Attack Aircraft Strength                 138 non-null    object
 7   Attack Aircraft Strength value           138 non-null    int64
 8   Transport Aircraft Fleet Strength        138 non-null    object
 9   Transport Aircraft Fleet Strength value  138 non-null    int64
 10  Trainer Aircraft Fleet                   138 non-null    object
 11  Trainer Aircraft Fleet value             138 non-null    int64
 12  Helicopter Fleet Strength                138 non-null    object
 13  Helicopter Fleet Strength value          138 non-null    int64
 14  Attack Helicopter Fleet Strength         138 non-null    object
 15  Attack Helicopter Fleet Strength value   138 non-null    int64
 16  Tank Strength                            138 non-null    object
 17  Tank Strength value                      138 non-null    int64
 18  AFV/APC Strength                         138 non-null    object
 19  AFV/APC Strength value                   138 non-null    int64
 20  Self-Propelled Artillery Strength        138 non-null    object
 21  Self-Propelled Artillery Strength value  138 non-null    int64
 22  Towed Artillery Strength                 138 non-null    object
 23  Towed Artillery Strength value           138 non-null    int64
 24  Rocket Projector Strength                138 non-null    object
 25  Rocket Projector Strength value          138 non-null    int64
 26  Navy Fleet Strengths                     124 non-null    object
 27  Navy Fleet Strengths value               124 non-null    float64
 28  Aircraft Carrier Fleet Strength          115 non-null    object
 29  Aircraft Carrier Fleet Strength value    115 non-null    float64
 30  Submarine Fleet Strength                 115 non-null    object
 31  Submarine Fleet Strength value           115 non-null    float64
 32  Destroyer Fleet Strength                 115 non-null    object
 33  Destroyer Fleet Strength value           115 non-null    float64
 34  Frigate Fleet Strength                   115 non-null    object
 35  Frigate Fleet Strength value             115 non-null    float64
 36  defense spending budget                  138 non-null    object
 37  defense spending budget value            138 non-null    object
 38  External Debt                            138 non-null    object
 39  External Debt value                      138 non-null    object
 40  Airport Totals                           138 non-null    object
 41  Airport Totals value                     138 non-null    int64
 42  Oil Production                           138 non-null    object
 43  Oil Production value                     138 non-null    object
 44  Oil Consumption                          138 non-null    object
 45  Oil Consumption value                    138 non-null    object
 46  Proven Oil Reserves                      138 non-null    object
 47  Proven Oil Reserves value                138 non-null    object
 48  Available Manpower                       138 non-null    object
 49  Available Manpower value                 138 non-null    object
 50  Total Population                         138 non-null    object
 51  Total Population value                   138 non-null    object
 52  Total Square Land Area                   138 non-null    object
 53  Total Square Land Area value             138 non-null    object
 54  Total Coastline Coverage                 109 non-null    object
 55  Total Coastline Coverage value           109 non-null    object
 56  Total Waterway Coverage                  138 non-null    object
 57  Total Waterway Coverage value            138 non-null    object
 58  Total Border Coverage                    129 non-null    object
 59  Total Border Coverage value              129 non-null    float64
dtypes: float64(7), int64(13), object(40)
memory usage: 64.8+ KB

In [3]:
df.sample(25)

,Military Strength,Military Strength Power Index,Aircraft Strength,Aircraft Strength value,Fighter/Interceptor Strength,Fighter/Interceptor Strength value,Attack Aircraft Strength,Attack Aircraft Strength value,Transport Aircraft Fleet Strength,Transport Aircraft Fleet Strength value,...,Total Population,Total Population value,Total Square Land Area,Total Square Land Area value,Total Coastline Coverage,Total Coastline Coverage value,Total Waterway Coverage,Total Waterway Coverage value,Total Border Coverage,Total Border Coverage value
38,Ethiopia,0.8581,Ethiopia,86,Ethiopia,24,Ethiopia,0,Ethiopia,9,...,Ethiopia,"10,83,86,391",Ethiopia,"11,04,300",NaN,NaN,Ethiopia,"1,04,300",Ethiopia,5925.0
118,Syria,0.8241,Syria,456,Syria,199,Syria,20,Syria,5,...,Syria,"1,94,54,263",Syria,"1,85,180",Syria,193,Syria,900,Syria,2363.0
89,Norway,0.5277,Norway,150,Norway,59,Norway,15,Norway,4,...,Norway,"53,72,191",Norway,"3,23,802",Norway,25148,Norway,1577,Norway,2566.0
134,Vietnam,0.3559,Vietnam,293,Vietnam,77,Vietnam,0,Vietnam,38,...,Vietnam,"9,70,40,334",Vietnam,"3,31,210",Vietnam,3444,Vietnam,17702,Vietnam,4616.0
36,El Salvador,3.1291,El Salvador,51,El Salvador,0,El Salvador,15,El Salvador,2,...,El Salvador,"61,87,271",El Salvador,21041,El Salvador,307,El Salvador,0,El Salvador,590.0
71,Mali,1.8941,Mali,29,Mali,9,Mali,0,Mali,6,...,Mali,"1,84,29,893",Mali,"12,40,192",NaN,NaN,Mali,0,Mali,7908.0
104,Sierra Leone,4.2063,Sierra Leone,5,Sierra Leone,0,Sierra Leone,0,Sierra Leone,0,...,Sierra Leone,"63,12,212",Sierra Leone,71740,Sierra Leone,402,Sierra Leone,800,Sierra Leone,1093.0
114,Sudan,1.3017,Sudan,190,Sudan,46,Sudan,38,Sudan,22,...,Sudan,"4,31,20,843",Sudan,"18,61,484",Sudan,853,Sudan,1723,Sudan,6819.0
49,India,0.0953,India,2123,India,538,India,172,India,250,...,India,"1,29,68,34,042",India,"32,87,263",India,7000,India,14500,India,13888.0
57,Japan,0.1501,Japan,1561,Japan,279,Japan,12,Japan,60,...,Japan,"12,61,68,156",Japan,"3,77,915",Japan,29751,Japan,1770,NaN,NaN
131,Uruguay,1.8909,Uruguay,50,Uruguay,0,Uruguay,7,Uruguay,9,...,Uruguay,"33,69,299",Uruguay,"1,76,215",Uruguay,660,Uruguay,1600,Uruguay,1591.0
43,Germany,0.2186,Germany,712,Germany,128,Germany,74,Germany,71,...,Germany,"8,04,57,737",Germany,"3,57,022",Germany,2389,Germany,7467,Germany,3694.0
55,Italy,0.2111,Italy,860,Italy,99,Italy,110,Italy,38,...,Italy,"6,22,46,674",Italy,"3,01,340",Italy,7600,Italy,2400,Italy,1836.0
137,Zimbabwe,1.7577,Zimbabwe,90,Zimbabwe,10,Zimbabwe,0,Zimbabwe,14,...,Zimbabwe,"1,40,30,368",Zimbabwe,"3,90,757",NaN,NaN,Zimbabwe,0,Zimbabwe,3229.0
14,Bolivia,0.9942,Bolivia,69,Bolivia,0,Bolivia,0,Bolivia,14,...,Bolivia,"1,13,06,341",Bolivia,"10,98,581",NaN,NaN,Bolivia,10000,Bolivia,7252.0
80,Namibia,3.2817,Namibia,30,Namibia,6,Namibia,0,Namibia,3,...,Namibia,"25,33,224",Namibia,"8,24,292",Namibia,1572,Namibia,0,Namibia,4220.0
1,Albania,2.3137,Albania,19,Albania,0,Albania,0,Albania,0,...,Albania,"30,57,220",Albania,28748,Albania,362,Albania,41,Albania,691.0
136,Zambia,1.6464,Zambia,108,Zambia,18,Zambia,0,Zambia,11,...,Zambia,"1,64,45,079",Zambia,"7,52,618",NaN,NaN,Zambia,2250,Zambia,6043.0
132,Uzbekistan,0.8086,Uzbekistan,185,Uzbekistan,66,Uzbekistan,20,Uzbekistan,18,...,Uzbekistan,"3,00,23,709",Uzbekistan,"4,47,400",Uzbekistan,420,Uzbekistan,1100,Uzbekistan,6893.0
74,Moldova,2.1291,Moldova,3,Moldova,0,Moldova,0,Moldova,1,...,Moldova,"34,37,720",Moldova,33851,NaN,NaN,Moldova,558,Moldova,1885.0
111,South Sudan,2.3501,South Sudan,19,South Sudan,0,South Sudan,0,South Sudan,2,...,South Sudan,"1,02,04,581",South Sudan,"6,44,329",NaN,NaN,South Sudan,0,South Sudan,6018.0
99,Republic of the Congo,2.9509,Republic of the Congo,13,Republic of the Congo,2,Republic of the Congo,0,Republic of the Congo,3,...,Republic of the Congo,"50,62,021",Republic of the Congo,"3,42,000",Republic of the Congo,169,Republic of the Congo,1120,Republic of the Congo,5008.0
120,Tajikistan,1.8661,Tajikistan,25,Tajikistan,0,Tajikistan,0,Tajikistan,1,...,Tajikistan,"86,04,882",Tajikistan,"1,43,100",NaN,NaN,Tajikistan,200,Tajikistan,4130.0
77,Morocco,0.8408,Morocco,214,Morocco,46,Morocco,0,Morocco,31,...,Morocco,"3,43,14,130",Morocco,"4,46,550",Morocco,1835,Morocco,0,Morocco,2363.0
39,Finland,0.8498,Finland,194,Finland,55,Finland,0,Finland,11,...,Finland,"55,37,364",Finland,"3,38,145",Finland,1250,Finland,7842,Finland,2563.0